<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Screening Criteria</h3>
  </div>
  <div class="panel-body">

    <%= form_for(@criteria, url: screening_criteria_path(@criteria), html: {method: 'patch'}) do |f| %>

      <div class="row">

        <div class="col-md-4">
          <label for="Age">Age Group</label>

          <%= f.select :age_group,
                       [["Mostly Students (18 - 24)", "18 - 24"],
                        ["Young Adults (25 - 34)", "25 - 34"],
                        ["Professionals (35 - 44)", "35 - 44"],
                        ["Matured (45 - 54)", "45 - 54"],
                        ["Retired (55 - 65)", "55 - 65"],
                        ["ANY (18-65)", "ANY"]],
                       {
                         id: 'age_group',
                         prompt: 'Select...',
                       },
                       { class: 'form-control' } %>

        </div>

        <div class="col-md-4">
          <label for="Age">Acceptable Monthly Income</label>

          <div class="input-group">

            <div class="input-group-addon">$</div>

            <%= f.text_field :acceptable_monthly_income,
                             placeholder: 'Monthly Income',
                             class: 'form-control' %>
          </div>

        </div>

        <div class="col-md-4">

        </div>
      </div>

      <div class="actions">
        <br/>
        <%= f.submit "Save", class: "btn btn-primary btn-lg" %>
      </div>

    <% end %>

  </div>

</div>