<div class="row">

  <h1>My Properties</h1>

  <%= link_to "Add Property", new_property_path %>

  <ul class="list-inline">

    <% @properties.each do |p| %>

      <li>
        <%= p.address %>, <%= p.suburb %>
      </li>

    <% end %>

  </ul>


</div>
