<% if @photos %>

  <div class="row photo_container">

    <ul class="list-inline">

      <% @photos.each do |photo| %>
        <li class="photo_wrapper">
          <p>
            <%= image_tag photo.image.url(), width: 300, height: 200 %>
          </p>
          <p class="pull-right">
            <%= link_to photo,
                        remote: true,
                        method: :delete,
                        data: {confirm: "Are you sure?"} do %>
              <i class="fa fa-times fa-lg"></i>
            <% end %>
          </p>

        </li>
      <% end %>

    </ul>
	</div>

<% end %>