// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

body {
  color: #565a5c;
  background-color: #F8F8F8;
}

.container {
	width: 80%;
}

/* HOME PAGE */
.intro-header {
  text-align: center;
  color: #f8f8f8;
  background: url(/images/intro-bg.jpg);
  background-size: cover;
}

.intro-header-overlay{
  background: rgba(0,0,0,0.55);
  width: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message > ul > li {
  font-size: 20px;
}

/* PHOTO GALLERY */
/* Main carousel style */
.carousel {
  width: 846px;
  height: 600px;
  background: #3b3b3b;
}

/* Indicators list style */
.article-slide .carousel-indicators {
  bottom: 0;
  left: 0;
  margin-left: 5px;
  width: 100%;
}

/* Indicators list style */
.article-slide .carousel-indicators li {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 54px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px !important;
  margin-top: 0;
  width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
  border: 2px solid #FFFFFF;
  float: left;
  height: 54px;
  left: 0;
  width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
  border: 2px solid #428BCA;
  opacity: 0.7;
}

.photo_wrapper{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #f4f4f4;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.panel-heading {
  span.title {
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
  }
}
